<ion-header>
  <ion-toolbar>
    <ion-title>Lista de usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <table>

    <thead>
      <ion-button color="light" class="add-user" routerLink="/criar-usuario">
        <ion-icon class="add-user-icon" name="person-add-outline"></ion-icon>
        Novo usario
      </ion-button>
      <tr>
        <th>Nome</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dado of dados | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
        <td>{{dado.nome}}</td>
        <td>{{dado.email}}</td>
      </tr>
    </tbody>
    <div class="pagination">
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </table>

</ion-content>
