<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bem-vindo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>O que você deseja fazer?</strong>
    <h5>Criar um novo usuário? <ion-button (click)="AddUusario()">Clique aqui</ion-button></h5>
    <h5>Listar usuarios? <ion-button>Clique aqui</ion-button></h5>
  </div>
</ion-content>
